

<div class= "welcome">
  <h1 class="home"><span>Ray Cosmetics</span></h1>
   <!-- <p class="home">the ultimate makekup line</p> -->
</div>

<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
      <div class="item<%= "active" if product == @products.first %>">
        <%= image_tag(product.image_url) %>
        <div class="carousel-caption">
         <%= product.name %>
        </div>
      </div>
    <% end %>
  </div> 

   <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>  
  
</div>

<div class="container">
  <div class="row-home">
    <div class="col-md-6 col-xs-6 home-image">
      <%= image_tag("cosme.jpg", size: "447x368", class: "image-responsive") %>
      	<h3 class="home">eye</h3>
    </div>

   <div class="col-md-6 col-xs-6 home-image">
      <%= image_tag("cosme.jpg", class: "image-responsive") %>
      <h3 class="home">eye</h3>
   </div>
 
 <div class="container-fluid face">
    <%= image_tag("face3.jpg", class: "image-responsive") %>
      <h3 class="home">face</h3>
  </div>
</div>


