
  <div class="notice-show">
    <p id="notice-show">Your Selection<%= notice %></p>
  </div>
  <div class="container-fluid">
    <div class="row-show">
      <div class="col-md-8">
        <p class="image-show">
          <%= image_tag(@product.image_url, class: "img-responsive") %>
        </p>
      </div>
      
      <div class="col-md-4">
        <p class="name-show">
        <strong>Name:</strong>
        <%= @product.name %>
        </p>

        <p class="description-show">
        <strong>Description:</strong>
        <%= @product.description %>
        </p>

        <p class="color-show">
        <strong>Color:</strong>
        <%= @product.color %>
        </p>

        <p class="price-show">
        <strong>Price:</strong>
        <%= @product.price %>
        </p>
      </div>
    </div>
  </div>
  
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
